Conjunto de dados fictício que contém as preferências de estilos musicais em diferentes regiões do país

In [2]:
import pandas as pd
import numpy as np

# Definindo a semente para garantir resultados reproduzíveis
np.random.seed(123)

# Criando o conjunto de dados fictício
estilos_musicais = ["Rock", "Pop", "Eletrônica", "Funk", "Sertanejo"]
regioes = ["Centro-Oeste", "Nordeste", "Norte", "Sudeste", "Sul"]

# Gerando 500 amostras para cada variável
dados = pd.DataFrame({
    'Estilo_Musical': np.random.choice(estilos_musicais, 500, replace=True),
    'Regiao': np.random.choice(regioes, 500, replace=True)
})

dados.head()

  Estilo_Musical    Regiao
0     Eletrônica       Sul
1      Sertanejo     Norte
2     Eletrônica  Nordeste
3            Pop   Sudeste
4           Funk  Nordeste

In [3]:
tab_musical_regiao = pd.crosstab(dados['Estilo_Musical'], dados['Regiao'])

tab_musical_regiao

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste  Sul
Estilo_Musical
Eletrônica                22        14     15       21   21
Funk                      27        24     12       26   15
Pop                       19        25     20       26   18
Rock                      22        23     17       22   15
Sertanejo                 14        12     22       25   23

Com isso, temos a tabela com os 500 registros divididos pelo número de ocorrência entre estilos musicais e a região onde a pessoa entrevistada mora. Vamos agora criar as diferentes tabelas cruzadas para comparar resultados entre regiões, entre estilos musicais e levando os dois casos em conta.

In [4]:
tab_musical_regiao = round(pd.crosstab(dados['Estilo_Musical'], dados['Regiao'], normalize = 'index') * 100,1)
tab_musical_regiao

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste   Sul
Estilo_Musical
Eletrônica              23.7      15.1   16.1     22.6  22.6
Funk                    26.0      23.1   11.5     25.0  14.4
Pop                     17.6      23.1   18.5     24.1  16.7
Rock                    22.2      23.2   17.2     22.2  15.2
Sertanejo               14.6      12.5   22.9     26.0  24.0

 o cálculo das frequências relativas por linha, onde a soma de todas as regiões por estilo musical será responsável por 100%. Neste caso, por exemplo, podemos comparar onde o estilo Pop é mais ouvido.

In [5]:
tab_musical_regiao = round(pd.crosstab(dados['Estilo_Musical'], dados['Regiao'], normalize = 'all') * 100,1)
tab_musical_regiao

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste  Sul
Estilo_Musical
Eletrônica               4.4       2.8    3.0      4.2  4.2
Funk                     5.4       4.8    2.4      5.2  3.0
Pop                      3.8       5.0    4.0      5.2  3.6
Rock                     4.4       4.6    3.4      4.4  3.0
Sertanejo                2.8       2.4    4.4      5.0  4.6

Por fim, vamos comparamos todos os estilos musicais em relação às regiões. Para isso, faremos o cálculo das frequências relativas por todos os registros, onde a soma de todas as comparações será responsável por 100%. Neste caso, por exemplo, podemos entender o peso da música Pop na Região Nordeste frente a todas as outras em todas as regiões.